body {
  background-color: #747474;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    color: #f5b4b4;
    text-align: center;
    padding: 10px;
  }
  span {
    color: #f00;
  }
  logo{
    
    color: #ccc;
  }
  span{
    color: #f00;
  }
  
  .product {
    background-color: azure;
    width: 90%;
    margin: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    float: left;
    text-align: center;
  }
  
  .product img {
    width: 10%;
    border-radius: 1px;
  }
  
  .product h2 {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .product p {
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .product .price {
    font-size: 1.1em;
    font-weight: bold;
    color: #f00;
    margin-top: 5px;
  }
  
  button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #fff;
    color: #f00;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
  }
  